

<body style="background-image: url('../fonts/carBackground.jpg'); background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;">
   
    <div style="position: absolute; width: 700px;
               height: 500px;  top: 40%; left: 20%;
        margin: -100px 0 0 -150px;">
        <div class="text-center">
            <h2>Вашата заявка, ще бъде преразгледана от Администратора на сайта!</h2>
            <h4>Приятен и спокоен ден!</h4>

            <h4>Ако желаете да разберете повече за нас кликнете <a href="Home/AboutUs">тук</a></h4>
        </div>
    </div>
</body>
